@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

.main {
  /* height: 100vh; */
  width: 100%;
  background: linear-gradient(to top, #3b2349, black);
  /* border: 1px solid red; */
  padding-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 3rem;
}
.p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  animation: move 5s ease-in-out infinite;
}

.contentParagraph {
  display: flex;
  justify-content: center;
  text-align: center;
}
.upperDiv {
  margin-bottom: 5rem;
  margin-top: 5rem;
}
.h6 {
  display: flex;
  justify-content: center;
}
.spanHead {
  color: #ff9e44;
}

@keyframes move {
  0% {
    transform: translatey(-20px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-20px);
  }
}
