@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

.footer {
  width: 100%;

  background: linear-gradient(to top, #3b2349, black);
  padding-top: 10px;
  left: 0;
  color: aliceblue;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.h5 {
  color: #ff9e44;
}
.upFooter {
  height: 30vh;
  border-bottom: 1px solid #ff9e44;
}
.downFooter {
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: #ff9e44;
}
.link:hover {
  color: #ff9e44;
}
