@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
.main {
  /* height: 100vh; */
  width: 100%;

  background: linear-gradient(to top, black, #3b2349);

  /* background-image: url("../assets/images/bg1.PNG"),
    url("../assets/images/bg2.PNG"), url("../assets/images/bg3.PNG");
  background-position: 0 20%, 30% 40%, 0px 0px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  animation: floatImages 4s linear infinite; */

  padding-top: 20px;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.heroContent {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  color: #ff9e44;
}

.heroLeft {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  animation: floatLeft 5s ease-in-out infinite;
}
.heroHeading {
  width: 50%;
  margin: auto;
}
.heroRight {
  width: 50%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroLeft button {
  padding: 1rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 5px 5px;

  /* outline: none; */
}
/* .heroLeft button:hover {
  box-shadow: 1px 1px 4px 2px white;
  -webkit-box-shadow: 1px 1px 8px 2px white;
  -moz-box-shadow: 1px 1px 8px 2px white;
  transition-delay: 0.2s;
} */

.btn1 {
  background: linear-gradient(to bottom, #563c5c, black);
  box-shadow: 0px 8px 10px rgb(177, 72, 222, 0.35);
}
.btn2 {
  background: transparent;
  box-shadow: 0px 8px 10px rgb(177, 72, 222, 0.35);

  outline: 2px solid #ff9e44;
}
.bannerImg {
  animation: floatRight 5s ease-in-out infinite;
  /* border: 1px solid red; */
}
.bannerImg::after {
  /* background: linear-gradient(93.85deg, #31fe7d 1.88%, #6fb7c2 97.18%); */
}
.imgg {
  width: 100%;
  /* padding: 10px; */
  -webkit-filter: drop-shadow(2px 6px 5px #ff9e44);
  filter: drop-shadow(2px 6px 5px #ff9e44);
  /* background: #4f2973; */
  /* border: none; */
}

.buttonsDiv {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}
@keyframes floatLeft {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatRight {
  0% {
    transform: translatey(-20px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-20px);
  }
}
@keyframes floatImages {
  from {
    background-position: 0 30%, 30% 70%, 0 0;
  }
  to {
    background-position: 20% 100%, 30px 20px, 100% 0;
  }
}
@keyframes animatedBackground {
  0% {
    background-image: url("../assets/images/bg1.PNG");
    background-position: 0 20%;
  }
  50% {
    background-image: url("../assets/images/bg2.PNG");
    background-position: 0 50%;
  }
  100% {
    background-image: url("../assets/images/bg3.PNG");
    background-position: 100% 80%;
  }
}
@media only screen and (max-width: 600px) {
  .heroContent {
    display: block;
  }
  .heroLeft {
    width: 100%;
  }
  .heroRight {
    width: 100%;
    margin-top: 10px;
  }
  .heroHeading {
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
  }
  .buttonsDiv {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .heroLeft button {
    width: 70%;
  }
}
