@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

.navMain {
  width: 90%;
  height: 10vh;
  /* top: 0; */
  /* position: fixed; */
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid purple; */
  margin: 10px auto;
  padding: 10px;
  z-index: 10;
  background: linear-gradient(to top, #3b2349, black);
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.toggle {
  display: none;
  padding: 20px;
  cursor: pointer;
  color: #ff9e44;
}

.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2rem;
}
.listDiv {
  width: 70%;
}
.navMain .ul {
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
}

.navMain .uul {
  z-index: 5;
  display: block;
}

.navMain ul li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.listBorder,
.listBorder > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 1vh;
}
.listBorder:before,
.listBorder:after,
.listBorder > span:before,
.listBorder > span:after {
  content: "";
  position: absolute;
  transition: transform 0.3s ease;
}
.listBorder {
  padding-top: 20px;
  color: #ff9e44 !important;
  text-decoration: none !important;
  cursor: pointer;
}
.listBorder:before {
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: #ff9e44;
  transform: scaleX(0);
}
.listBorder:hover:before {
  transform: scaleX(1);
  bottom: -10px;
}

@media only screen and (max-width: 900px) {
  .toggle {
    display: block;
  }
  .navMain {
    height: auto;
    width: 100%;
    border-radius: 0px;
    top: 0;
  }
  .logo {
    display: block;
  }
  .navMain .ul {
    display: none;
  }
  .listBorder::after {
    content: none;
  }
  .listBorder::before {
    content: none;
  }
  .ul li {
    display: none;
    border: none;
  }
  .ul li:last-child {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
  }
}
