@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

.main {
  /* background: linear-gradient(to top, black, #3b2349); */
  /* background: radial-gradient(circle, black, 0%, #3b2349 100%); */
  background-color: #3b2349;
  background-image: linear-gradient(to top, black, #3b2349);

  height: 100vh;
  /* border: 1px solid yellow; */
  text-align: center;
  color: white;

  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
.maps {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 15%;
  height: 80%;

  border-left: 2px dashed #ff9e44;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.outer {
  width: 50px;
  max-width: 100%;
  height: 50px;
  border-left: 1px dashed purple;
  position: absolute;
}

@media only screen and (max-width: 800px) {
  .inner {
    width: 20%;
  }
}
@media only screen and (max-width: 600px) {
  .inner {
    width: 25%;
  }
}
